html, body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font: 1rem Roboto, seans-serif;
     background-color: #f1f1f1;
}
* { 
    box-sizing: border-box;
}
.header {
    display: inline-block;
    width: 100%;
    height: 200px;
     background-color: #f1f1f1;
     position: relative;
}

.logotype {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    padding-left: 400px;
    padding-top: 57px;
   
}
.img {
    display: inline-block;
    height: 60px;
    width: 96px;
}
.main {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 55%;
        }
.main-nav {
    display: inline-block;
    padding-top: 79px;
 }
.main-nav-list {
    display: inline-block;
    list-style: none;

}
.main-nav-iten {
    display: inline-block;
    margin-left: 42px;
    margin-bottom: 20px;
    font: 1rem Roboto, seans-serif;
}
.main-nav-iten a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}
.main-nav-iten.activ a {
color: blue;
}
.content {
    display: inline-block;
    position: relative;
    height: 500px;
    width: 100%;
    background-color: #f1f1f1;
}
.content-left {
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 500px;
    padding-top: 70px;
}
.frame {
    display: block;
    width: 328px;
    height: 225px;
}
.content-right {
    display: inline-block;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    font: 1rem Roboto, seans-serif;
    padding-top: 50px;
}
.content-right h2 {
    display: inline-block;
    height: 45px;
    width: 541px;
    font-size: 48px;
}
.content-right p {
    display: inline-block;
    height: 45px;
    width: 541px;
    font: 1rem, Roboto, seans-serif;
    color:  #727272;
}
 .btn {
    line-height: 65px;
    font-size:20px;
    background: rgb(8, 70, 133);
    color: white;
    margin-top: 50px;
    width: 225px;
    margin-right: 5px;
    text-align: center;
    text-transform: uppercase;
    font:  Roboto, seans-serif;
}
.content-2 {
    display: block;
    background-color: #F9F9F9;
    text-align: center;
    height: 360px;
}
.content-center {
    display: inline-block;
    height: 150px;
    width: 540px;
        margin-top: 80px;
}
.content-center h2 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 50px;
    font-style: normal;
}
.content-center p {
    color:  #727272;
}

.header-content img {
   
    width: 328px;
    height: 225px;
    margin-left: 160px;
    margin-right: 0;
    padding-top: 35px;}

.header-text p {
    color: black;
    width: 540px;
    height: 67px;
    text-align: justify;
 }

.ads {
    display: inline-block;
    background-color: #34547A;
    height: 250px;
    width: 100%;
    text-align: center;
   
}
.ads-img {
    display: inline-block;
    margin-top: 100px;
}
.ads img {
    height: 50px;
  width: 141px;
  margin-right: 49px;
}

.section4 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 650px;
    background-color: white;
    font: 1rem Roboto, seans-serif;
}
.section4-left {
    display: block;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    margin-top: 150px;
    margin-left: 250px;
 }
 .section4-left h3 {
     font-size: 30px;
 }

.section4-left1 {
    width: 245px;
    height: 30px;
    border-bottom-style: ridge;
    border-bottom-width: 2px;
    border-bottom-color: #34547a;
}

.section4-img {
    display: inline-block;
    width: 50%;
        position:absolute;
 top: 0;
 right: 0;
}
.face {
    display: block;
    margin-top: 100px;
}

.face img {
    width: 555px;
    height: 450px;
}
.section-video {
    display: inline-block;
    width: 100%;
    background-color: #EEEFF1;
    height: 1004px;
    text-align: center;
    margin-top: 100px;
}
.content-video {
    display: inline-block;
    height: 150px;
    width: 540px;
    margin-bottom: 57px;
 }
 .content-video h2 {
    margin-bottom: 50px;
    font-size: 32px;
 }
 .content-video p {
    color:  #727272;
 }
 .video {
   display: block;
  }
  .video iframe {
    height: 600px;
    width: 1110px;
  }

.ads-img2 {
    display: flex;
      flex-wrap: wrap;
    width: 100%;
    background-color: white;
    height: 988px;
    justify-content: center;
    align-items: stretch;
}
.ads-img-row {
    display: flex;
    align-self: center;
    flex-grow: 0 1 25%;
  margin: 0;
  flex-basis: calc(100%/4);

}
.ads-img-row:hover {
    content: '';
    background:  linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url(oko.jpg);
    z-index: 2;
    width: 25%;
    height: 480px;
    display: block;
}

.logo-microsoft {
    display: flex;
    width: 100%;
    height: 300px;
    background-color:  #F9F9F9;
    justify-content: center;
   

}
.microsoft {
    display: flex;
    align-self: center;
    margin-right: 30px;

}
.microsoft img {
    display: block;
    width: 255px;
    height: 120px;
}
.footer {
   display: block;
   width: 100%;
   height: 762px;
   background-color:  #EEEFF1;
   text-align: center;

  
}
.footer-text {
    display: inline-block;
    height: 150px;
    width: 540px;
    margin-bottom: 57px;
    margin-top: 100px;
 }
 .footer-text h2 {
     margin-bottom: 50px;
     font-size: 32px;
 }
 .footer-text p {
    color:  #727272;
 }
 .footer-btn {
   height: 275px;
   width: 540px;
   margin-left: auto;
   margin-right: auto;
   color: #5F5D5D;
 }
 
.form-group {
    display: flex;
    justify-content: space-between;
    flex: auto 1;
    margin-bottom: 1rem;


}
.form-group .form-control {
    margin-bottom: 0;
    margin-right: 1rem;
}
.form-group .form-control:last-child {
    margin-right: 0;
}
.form-control {
    position: relative;
    margin-bottom: 1rem;


}
.form-label {
    font-family: 0.75rem;
    font-weight: 400;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    }
.form-input {
    border: 1px solid #e1e1e1;
     min-width: 140px;
    font-size: 14px;
    padding: 17px 20 px;
    outline: none;
    height: 65px;
    width: 255px;
    padding: 20px 17px;
 }

.form-textarea {
    border: 1px solid #e1e1e1;
    width: 540px;
    min-width: 140px;
    padding: 20px 17px;
    outline: none;
    resize: none;
   font-size: 14px;
}
